.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 3px #000000;
    border-radius: 8px;
    width: fit-content;
}

.btn-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #000000;
}

.btn-text {
    margin: 0;
    color: #000000;
}
