#root {
  margin: 0 auto;
  text-align: center;
}

.Title {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Profile {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Profile-Text {
  flex-direction: column;
  max-width: 400px;
  margin: 20px;
}

.Name {
  font-size: 24px;
  margin-bottom: 10px;
}

.Avatar {
  width: 200px;
  height: 200px;
  border-radius: 35%;
  object-fit: cover;
}